.is-one-third {
  font-family: 'Orbitron', sans-serif;
  font-size: 40px;
}

.is-two-thirds {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-size: 40px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(222, 249, 251);
  border-radius: 50%;
  box-shadow: 5px 5px 5px grey;
}

#search-container {
  height: 100vh;
  position: sticky;
  top: 0;
  z-index: 1;
}

#search-column {
  background-color: #ADD8E6;
}

#submit-button {
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
}

#go-back {
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
}

#textbox-input {
  font-family: 'Orbitron', sans-serif;
}

#title-head {
  background-color: #ff7272;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-radius: 5px 5px 50% 5px;
  border-style: inset 25px white;
}

#poke-container {
  border-style: 5px, white;
}